{% extends "base.html" %}

{% block title %}{{ article.title }} :: {{ SITENAME }}{% endblock %}

{% block content %}
    <article>
        <h1> {{ article.title }} </h1>

            <p>{{ article.date|strftime('%Y-%m-%d %H:%M') }}</p>

        <div>
            {{ article.content }}
        </div>
    </article>

    <ul>
        {% for tag in article.tags %}
        <li>
          <a href="{{ SITEURL }}/{{ tag.url }}"> {{ tag }}</a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
