<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="author">
        <link href="{{ SITEURL }}/theme/blog.css" rel="stylesheet">
        <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
    </head>

    <body>

        <ul>
            {% if DISPLAY_PAGES_ON_MENU %}
                {% for page in pages %}
                    <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            {% endif %}
        </ul>
        <hr>

                <h1><a href="{{ SITEURL }}/">Блог</a></h1>


            {% block content %} {% endblock %}
            <hr>
            <ul>
              {%- for article in articles[0:20] %}
              <li>
                <a href="{{ SITEURL }}/{{ article.url }}" title="{{ article.title }}">
                  {{ article.title }}
                  <span>{{ article.date|strftime('%Y-%m-%d %H:%M') }}</span>
                </a>
                <hr />
              </li>
              {% endfor %}
            </ul>              

    </body>
</html>
