{% if DEFAULT_PAGINATION %}
<span>страница {{ articles_page.number }} из {{ articles_paginator.num_pages }}</span>

    {% if articles_page.has_previous() %}
        {% if articles_page.previous_page_number() == 1 %}
        <a href="{{ SITEURL }}/{{ page_name }}.html">&larr; назад</a>
        {% else %}
        <a href="{{ SITEURL }}/{{ page_name }}{{ articles_page.previous_page_number() }}.html">&larr; назад</a>
        {% endif %}
    {% endif %}


    {% if articles_page.has_next() %}
        <a href="{{ SITEURL }}/{{ page_name }}{{ articles_page.next_page_number() }}.html">вперёд &rarr;</a>
    {% endif %}
{% endif %}
