{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Tags{% endblock %}

{% block content %}

<h1>Tags for {{ SITENAME }}</h1>

<ul>
    {%- for tag, articles in tags|sort %}
    <li>
        <a href="{{ SITEURL }}/{{ tag.url }}">{{ articles|count }} {{ tag }}</a>
    </li>
    {% endfor %}
</ul>              

{% endblock %}

